/* Réinitialisation des margin de base */
body {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

body[data-periode="winter"] {
    background-image: url(background_winter.png);
  }

  body[data-periode="spring"] {
    background-image: url(background_spring.png);
  }

  body[data-periode="summer"] {
    background-image: url(background_summer.png);
  }

  body[data-periode="christmas"] {
    background-image: url(background_christmas.png);
  }

  body[data-periode="autumn"] {
    background-image: url(background_autumn.png);
  }

/* Style du div de toute la page */
div.contenu{
    margin: 24px 24px -10px 24px;
    text-align: center;
}

/* Style de la photo de profile */
img.img_profile {
    margin-top: 24px;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(24, 39, 75, 0.05);
}

/* Style du paragraphe du blaze */
p.blaze{
    font-family: 'Inter', sans-serif;
    text-transform: none;
    font-size: 18px;
    font-weight: 700;
}

/* Style du paragraphe de la photo de profile */
p.descr{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-transform: none;
    margin-top: 16px;
    margin-bottom: 32px;
}

/* Style de la div contenant tout les liens */
div.liens{
    width: 680px;
    display: inline-block;
    }

/* Style des div des réseaux */
div.div_reseaux{
    border: 0px solid #FFFFFF;
    background-color: #ffffff94;
    border-radius: 30px;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(24, 39, 75, 0.05);
    margin-bottom: 12px;
    min-height: 60px;
}

div.div_reseaux:hover{
    transform: translate3d(0px, 0px, 0px) scale(1.015);
    transition: transform .15s cubic-bezier(.17,.67,.29,2.71) 0s;
}

/* Style du lien des réseaux*/
a.a_reseaux{
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Style du paragraphe des réseaux */
p.p_reseaux{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    color: #0D0C22;
    margin: 0 auto;
    width: 80%;
}

/* Style de la div de l'image des réseaux */
div.div_img{
    height: 100%;
    width: 10%;
}

/* Style de l'image des réseaux */
img.img_logo{
    height: 43px;
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(24, 39, 75, 0.05);
}

img.img_instagram{
    border-radius: 0;
    box-shadow: none;
}

/* Style de la div de l'espacement pour la flexbox */
div.espacement{
    width: 10%;
}


/* Style du paragraphe infos */
p.infos{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

a.lien_infos{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}




/* Styles pour le responsive design */
@media only screen and (max-width: 722px){
    div.liens{
        width: 90%;
    }

    div.contenu{
        margin: auto;
    }

    div.div_img{
        padding-left: 3%;
    }
    
}
